:root {
    --primary: #829eb6;
    /*bleu*/
    --secondary: #a061ad;
    /*violet*/
    --bold-primary: #71bdba;
    --bold-secondary: #ab4ca9;
    --fond-degrade: linear-gradient(90deg, var(--primary), var(--secondary));
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
    margin: 0;
    padding: 0;
}

.guide_container {
    display: flex;
    height: 100%;
}

.guide_container_left {
    width: 20%;
    height: 100vh;
    background-color: gainsboro;
}


/*.image_left {
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/491.png');
    width: 100%;
    height: 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -50px;
}*/

img.image_left {
    width: 100%;
}


/*--------------------- RIGHT -------------------------------*/

.guide_container_right {
    width: 80%;
}

.right_grand_titre {
    display: flex;
    background: var(--fond-degrade);
    color: white;
    text-indent: 20px;
    justify-content: space-between;
}

.right_grand_titre h1 {
    font-family: 'Abril Fatface'
}