:root {
    --primary: #829eb6;
    /*bleu*/
    --secondary: #a061ad;
    /*violet*/
    --bold-primary: #71bdba;
    --bold-secondary: #ab4ca9;
    --fond-degrade: linear-gradient(90deg, var(--primary), var(--secondary));
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}


/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f3f4f7;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #74496b;
    height: 30px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #74496b;
    height: 30px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/*BALISES TEXTES*/

f {
    color: #3c1700;
    font-size: 14px;
}

l {
    color: var(--secondary);
    font-family: 'Times New Roman';
    font-size: 16px;
    letter-spacing: -1px;
    font-style: italic;
    text-transform: lowercase;
    font-weight: bold;
}

o {
    color: var(--primary);
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

r {
    color: #0d617b;
}

t {
    color: #b10101;
}

x {
    color: var(--secondary);
    font-family: 'VT323';
    font-size: 15px !important;
    text-transform: uppercase;
}

y {
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

z {
    color: var(--secondary);
    font-family: 'Goldman';
    font-size: 14px;
}

tw {
    background: var(--primary) !important;
    color: var(--primary) !important;
    z-index: 998;
    border-radius: 2px;
}

tw:hover {
    background: none !important;
    color: #4d4d4d !important;
    z-index: 999;
}

.guide_container {
    display: flex;
    height: 100%;
}

.guide_container_left {
    width: 350px;
    height: 100vh;
    background-color: gainsboro;
    background-image: url('fond.jpg');
    background-size: cover;
    overflow: auto;
}


/*.image_left {
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/491.png');
    width: 100%;
    height: 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -50px;
}*/

img.image_left {
    width: 100%;
    margin-top: -20px;
    opacity: 0.7;
}

.guide_container_right .right_contenu .right_grand_titre svg {
    padding-right: 20px;
}

.guide_container_left h1 {
    font-family: 'Abril Fatface';
    font-weight: normal;
    font-size: 1.4em;
    margin-left: 15px;
    margin-top: -5px;
}

.guide_container_left h2 {
    font-family: 'VT323';
    font-weight: normal;
    font-size: 1.2em;
    margin-left: 20px;
    text-transform: uppercase;
}

.guide_container>input {
    display: none;
}

label {
    display: block;
    margin-left: 25px;
    font-size: 0.77em;
    font-family: 'Roboto';
    line-height: 1.2em;
}

#administratif:checked~.guide_container_left .boutons .lab.admin,
#region:checked~.guide_container_left .boutons .lab.reg,
#fonctionnement:checked~.guide_container_left .boutons .lab.jeu,
#contexte:checked~.guide_container_left .boutons .lab.cont,
#objets:checked~.guide_container_left .boutons .lab.obj,
#region2:checked~.guide_container_left .boutons .lab.reg2,
#teamombre:checked~.guide_container_left .boutons .lab.to,
#science:checked~.guide_container_left .boutons .lab.sci,
#ecurie:checked~.guide_container_left .boutons .lab.ecu,
#groupes:checked~.guide_container_left .boutons .lab.grp,
#personnage:checked~.guide_container_left .boutons .lab.perso,
#celebrite:checked~.guide_container_left .boutons .lab.celeb,
#jouable:checked~.guide_container_left .boutons .lab.joua,
#champion:checked~.guide_container_left .boutons .lab.champ,
#elevage:checked~.guide_container_left .boutons .lab.ele,
#systeme:checked~.guide_container_left .boutons .lab.syst,
#points:checked~.guide_container_left .boutons .lab.pts,
#arene:checked~.guide_container_left .boutons .lab.are,
#experience:checked~.guide_container_left .boutons .lab.exp,
#capture:checked~.guide_container_left .boutons .lab.capt {
    color: var(--bold-secondary);
    font-weight: bolder;
    text-shadow: 1px 1px 0px white;
}

#administratif:checked~.guide_container_right .contenu.admin,
#region:checked~.guide_container_right .contenu.reg,
#fonctionnement:checked~.guide_container_right .contenu.jeu,
#contexte:checked~.guide_container_right .contenu.cont,
#objets:checked~.guide_container_right .contenu.obj,
#region2:checked~.guide_container_right .contenu.reg2,
#teamombre:checked~.guide_container_right .contenu.to,
#science:checked~.guide_container_right .contenu.sci,
#ecurie:checked~.guide_container_right .contenu.ecu,
#groupes:checked~.guide_container_right .contenu.grp,
#personnage:checked~.guide_container_right .contenu.perso,
#celebrite:checked~.guide_container_right .contenu.celeb,
#jouable:checked~.guide_container_right .contenu.joua,
#champion:checked~.guide_container_right .contenu.champ,
#elevage:checked~.guide_container_right .contenu.ele,
#systeme:checked~.guide_container_right .contenu.syst,
#points:checked~.guide_container_right .contenu.pts,
#arene:checked~.guide_container_right .contenu.are,
#experience:checked~.guide_container_right .contenu.exp,
#capture:checked~.guide_container_right .contenu.capt {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
}


/* On met en place le bloc qui va contenir le contenu de chaque onglet */

.right_contenu {
    position: relative;
}


/* On met en place et en forme le contenu de chaque onglet */

.right_contenu .contenu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
    width: 100%;
}

.home {
    transition: .5s ease;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 4px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1%;
    left: 1%;
}


/*--------------------- RIGHT -------------------------------*/

.guide_container_right {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #F1F1F1;
}


/*grand titre*/

.right_grand_titre {
    display: flex;
    background: var(--fond-degrade);
    color: white;
    text-indent: 20px;
    justify-content: space-between;
    align-items: center;
}

.right_grand_titre h1 {
    font-family: 'Abril Fatface';
    font-weight: normal;
    font-size: 1.9em;
}

.right_grand_titre img {
    transition: .5s ease;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 4px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 5%;
}


/*contenu*/

.content {
    padding: 0px 20px;
    font-family: 'Roboto';
    font-size: 0.8em;
    overflow: auto;
    border: 1px solid gainsboro;
    height: 95vh;
    background-color: white;
}

.content p:last-child {
    margin-bottom: 50px;
}

.right_contenu h1 {
    font-family: 'Abril Fatface';
    font-weight: normal;
    font-size: 1.7em;
}

.right_contenu h2 {
    font-family: 'VT323';
    font-weight: 200;
    font-size: 1.5em;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20px;
}


/*staff*/

.all_blocstaff {
    display: flex;
    gap: 30px;
}

.blocstaff {
    background-color: #e4e4e4;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

.blocstaff_left img {
    border-radius: 100px;
    border: 5px solid var(--primary);
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.blocstaff_lien {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--secondary);
    text-transform: uppercase;
    font-family: 'VT323';
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin: 3px;
}

.blocstaff_left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.blocstaffleft_lien {
    display: flex;
    flex-wrap: nowrap;
}

.blocstaff_right {
    width: 65%;
}

.blocstaff_right h1 {
    font-family: 'Abril Fatface';
    margin-bottom: 0;
}

.blocstaff_right h3 {
    text-transform: uppercase;
    font-family: 'VT323';
    font-weight: normal;
    margin: 0;
}

.blocstaff_right p {
    font-size: 12px;
    height: 70px;
    overflow: auto;
    margin-bottom: 10px !important;
}

.blocstaff_btm {
    background-color: #c4c4c4;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 3px;
    text-indent: 20px;
}


/*FICHE REPERTOIRE OBJETS */

.fpv_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fpv_box {
    display: inline-block;
    padding-top: 10px;
    margin-right: 3px;
    width: 23%;
}

.blocimg3_top {
    transition: .5s ease;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 4px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
}

.fpv_wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.fpv_name {
    background-color: var(--primary);
    color: var(--white);
    height: 30px;
    width: 100%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323';
    font-size: 25px;
    text-transform: uppercase;
    margin-left: -30px;
}

.fpv_bloc3 {
    background: var(--fiche-fondlight);
    border: 1px solid var(--border);
    margin-top: 3px;
    float: left;
    width: 100%;
    height: 100px;
    overflow: auto;
    line-height: 15px;
}


/*media queries */

@media (max-width: 767px) {
    .guide_container_right .right_contenu .right_grand_titre img {
        display: none;
    }
    .guide_container_left {
        display: none;
    }
    .right_contenu .right_grand_titre h1:first-of-type {
        font-size: 1.2em;
    }
    .right_contenu h1 {
        font-size: 1.4em;
        text-align: center;
        margin-top: 5px;
    }
    .right_contenu h3 {
        text-align: center;
    }
    .blocstaff_right {
        width: 100%;
        padding: 10px;
    }
    .blocstaff_left {
        display: none;
    }
    .blocstaff_btm {
        text-indent: 5px;
    }
    .content {
        height: 95vh;
    }
    .guide_container_right svg {
        position: absolute;
        top: 1%;
        right: 3%;
        z-index: 1;
    }
    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: -100%;
        background-color: #e8e8e8;
        padding-top: 60px;
        transition: right 0.5s ease;
    }
    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #111;
    }
    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    /* Active class */
    .sidenav.active {
        right: 0;
    }
    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
        border-radius: 5px;
    }
    span.burger-icon {
        position: absolute;
        right: 1%;
        z-index: 100;
    }
}

@media (min-width: 768px) {
    .guide_container_right .right_contenu .right_grand_titre svg {
        display: none;
    }
    .sidenav {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .blocstaff {
        width: 100%;
    }
    .all_blocstaff {
        flex-wrap: wrap;
    }
}

@media (min-width: 1441px) {
    .content {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        height: 90vh;
        outline: solid 5px rgba(255, 255, 255, 0.5);
    }
}